
/* Sidebar top background color */
div.wy-side-nav-search {
  background-color: rgb(241, 183, 57);
}

/* Sidebar top text color */
.wy-side-nav-search>a {
  color: rgb(66, 66, 66);
}


/* Sidebar top version color */
.wy-side-nav-search>div.version {
  color: rgb(120, 120, 120);
}

/* Sidebar background color */
.wy-nav-side {
  background-color: rgb(66, 66, 66);
}


/* Sidebar link click color */
.wy-menu-vertical .toctree-l1 > a:active {
  background-color: rgb(110, 110, 110);
  color: rgb(252, 252, 252);
}

/* Link color is darker to make hovering more clear */
.wy-menu-vertical .toctree-l1 > a:hover {
  background-color: rgb(241, 183, 57);
  color: rgb(252, 252, 252);
}

.wy-menu-vertical li.current > a:hover, .wy-menu-vertical li.current > a:active {
  color: #404040;
  background-color: #F5F5F5;
}

/* On hover over logo */
.wy-side-nav-search > a:hover, .wy-side-nav-search .wy-dropdown > a:hover {
  background: inherit;
}

/* Border around search box */
.wy-side-nav-search input[type="text"] {
  border: 0px;
}

/* Modify last child in toc-tree so that there is no visible space between two trees */
.rst-content .toctree-wrapper:not(:last-child) ul {
   margin-bottom: 10pt;
}